<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/header.css">
  <!-- <link rel="stylesheet" href="assets/css/colors-light.css"> -->
  <link rel="stylesheet" href="/assets/css/colors-dark.css">
</head>
