
  /* ========================
  Footer
  ======================== */

  footer {
    background-color: #2C3E50;
    color:  #fff;
    font-size: 1em;
    text-align: center;
    padding: 3%;
    margin-top: 5%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  a.social-button {
  	background: #fff;
  	font-size: 20px;
  	border-radius: 50%;
  	margin: 5px;
  }
  .address-container{
  	display: inline-block;
  	margin: 0 auto;
  }
  a.link-facebook,a.link-twitter,a.link-codepen,a.link-linkedin,a.link-instagram
  {
    transition:0.4s ease;
  }


  a.link-github
  {
    color: #000;
  }
  a.link-stackoverflow
  {
    color:#e95950;
  }
  a.link-linkedin
  {
    color:#007bb6;
  }
  a.link-blog
  {
    color:#1DA1F2;
  }
  a.link-facebook
  {
   color: #3b5998;
  }

  a.link-github:hover{
    background-color: #1DA1F2;
    color: #fff;
  }

  a.link-stackoverflow:hover{
    background-color: black;
    color: #fff;
  }

  a.link-linkedin:hover{
    background-color: #007bb6;
    color: #fff;
  }
  a.link-blog:hover{
    background-color: #e95950;
    color: #fff;
  }

  a.link-facebook:hover{
  	background-color: #3b5998;
  	color: #fff;
  }
