---
layout: default
---

<style>
  .featured-image {
    height:60px;
    width:60px;
  }

  div.row.posts {
    border-radius:4px;
    /* width:70%; */
    margin:0px auto;
    border-collapse: collapse;
  }

  div.row.posts:hover {
    background-color: #dee2e6;
    cursor: pointer;
  }

  .post-links {
    color: #828d90;
  }

  .post-links:hover {
    text-decoration: none;
    color: #2c3e50;
  }

</style>


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- {{ content }} -->
  {%- if site.posts.size > 0 -%}

    {%- for post in site.posts -%}
      <a class="post-links" href="{{ post.url | relative_url }}">
        <div class="row posts">

          <!-- Post's Featured image -->
          <div>
            {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image %}{% endif %}
          </div>

          <div style="margin: 0 20px;">
            <!-- Post's Title -->
            <h3 style="margin-bottom: 0;">{{ post.title | escape }}</h3>

            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <small class="text-muted">{{ post.date | date: date_format }}</small>

          </div>

        </div>
      </a>
    {%- endfor -%}

  {%- endif -%}


</div>
