---
layout: default
---
<style>

  div.post-header {
    display: flex;
    margin-bottom: 50px;
  }

  .post-tags span {
    display: inline-block;
    padding: .1rem .5rem;
    background: #f2f2f2;
    border-radius: 4px;
    margin: 0 .5rem .5rem 0;
  }

  .post-tags span a:hover{
    text-decoration: none;
  }

  .post-tags span:hover {
    color: #fff;
    background: #ced4da;
  }

</style>

<div class="post-header">

  <!-- Post's Featured image -->
  <div style="width: 100px; height: 100px;">
    {% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt %}
  </div>

  <div style="margin-top: auto;margin-bottom: auto; margin-left: 20px;">
    <!-- Post's Title -->
    <h1 class="post-title" style="font-size: 1.75rem; margin-bottom: 0;">{{ page.title | escape }}</h1>

    <div class="post-initial">
      <!-- Post's Time -->
      <time class="text-muted" style="font-size: 12px;">
        {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </div>

    <div class="post-tags">
      <!-- Post's Tags -->
      {% for tag in page.tags %}
        <!-- <a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a> -->
        <span>
          <a href="/tags/#{{ tag | slugify }}" class="text-muted">
            <i class="fas fa-tag"></i>
            {{ tag }}
          </a>
        </span>
      {% endfor %}
    </div>

  </div>

</div>

<div class="post">

  <div class="post-content">
    {{ content }}
  </div>

  {%- if site.disqus -%}
    {%- include disqus.html -%}
  {%- endif -%}

</div>
