---
layout: default
---

<div class="post-header">

  <!-- Post's Featured image -->
  <div style="float: left; width: 100px; height: 100px;">
    {% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt %}
  </div>

  <div style="float: left; margin: 10px;">
    <!-- Post's Title -->
    <h1 class="post-title" style="font-size: 1.75rem;">{{ page.title | escape }}</h1>

    <div class="post-initial">
      <!-- Post's Time -->
      <time>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </div>

    <div class="post-tags">
      <!-- Post's Tags -->
      {% for tag in post.tags %}
        <!-- <a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a> -->
        <span class="text-muted">{{ tag }}</span>
      {% endfor %}
    </div>

  </div>

</div>

<div class="post">
  <br/>

  <div class="post-content" style="margin-top: 150px;">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

</div>
