---
layout: default
---

<div class="post-header">

  <!-- Post's Featured image -->
  <div style="float: left; width: 100px; height: 100px;">
    {% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt %}
  </div>

  <div style="float: left; margin: 10px;">
    <!-- Post's Title -->
    <h1 class="post-title" style="font-size: 1.75rem; margin-bottom: 0;">{{ page.title | escape }}</h1>

    <div class="post-initial">
      <!-- Post's Time -->
      <time class="text-muted" style="font-size: 12px;">
        {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </div>

    <div class="post-tags">
      <!-- Post's Tags -->
      {% for tag in page.tags %}
        <!-- <a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a> -->
        <a href="/tag/{{ tag }}" class="text-muted" style="background: #dee2e6; margin: 0 7px;">{{ tag }}</a>
      {% endfor %}
    </div>

  </div>

</div>

<div class="post">
  <br/>

  <div class="post-content" style="margin-top: 150px;">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

</div>
